@page "/"

<HelloWorld />

<div class="centred" style="margin-bottom: 2rem">
    <Card Style="background: #ffffff9f; border: none; max-width: 700px">

        <Body>
            <h1 id="main-greeting">Hello! My name is Andi</h1>
            <p>
                I am a <strong>dynamic figure</strong>, often seen <strong>creating fake emails</strong> to get more
                free
                trials and <strong>solving abstract CS problems</strong> crafted by Polish mathematicians. When I am
                bored,
                I charm cats and pigeons with my <strong>transcendental clarinet squeaks</strong>.</p>
            <p>
                I am <strong>motivated to take risks</strong>. Sometimes, because I like to live dangerously, I play
                chess
                with <strong>one fewer
                    pawn</strong> and <strong>solve geometry in pen</strong>. Sometimes I even play the Wii without the
                safety strap! I know - I'm a real
                daredevil. I'm even amazed myself that I've managed to survive this long in the first place! But
                nothing quite beats the adrenaline rush I get from <strong>submitting code without compiling it locally
                    first</strong>.
            </p>
            <p>
                I am also the winner of <strong>three gold medals</strong> in archery, suburban mom of <strong>six
                    adorable
                    tykes</strong>, and collector of
                Colonial American pie safes. For all you know. After all, this is <strong>the Internet</strong>, a
                virtual world that breaks
                down the distinction between <strong>fact</strong> and <strong>near-psychotic fabrication</strong>.
                Although I supposed you could check up
                on that Olympic thing.
            </p>
            <p>
                TL;DR - I am Andi, and I am<strong><IamTypist /></strong>
            </p>
        </Body>
    </Card>
</div>
